.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 100%;
  background-color: #fff;
}

.sidebar-header {
  display: flex;
  padding: 32px;
}

.sidebar-logo {
  width: 40px;
  height: 40px;
}

.sidebar-nav {
  margin: 0;
  padding: 16px;
  position: relative;
}

.active-link {
  background-color: rgb(236, 239, 241);
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 16px;
  height: 40px;
  text-decoration: none;
  color: #455a64;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
  }

  .link-icon {
    width: 26px;
    height: 26px;
  }

  .link-title {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.sidebar-mock {
  flex-grow: 1;
  -webkit-box-flex: 1;
}
