<div class="dashboard">
  <app-sidebar></app-sidebar>
  <main>
    <app-navigation></app-navigation>
    <div class="dashboard-content">
      <div class="card-dashboard">
        <app-welcome-user></app-welcome-user>
        <app-completed-profile></app-completed-profile>
      </div>
      <div class="card-dashboard">
        <div class="fl-col">
          <social-item
            *ngFor="let socialItem of socials"
            [social]="socialItem"
          ></social-item>
          <app-line-chart></app-line-chart>
        </div>
      </div>
      <div class="card-dashboard">
        <div class="fl-col">
          <app-target-content></app-target-content>
          <div class="meeting-title">Meetings</div>
          <meeting-item
            *ngFor="let meeting of meetings"
            [meeting]="meeting"
          ></meeting-item>
          <div class="meeting-add">
            <img src="../../assets/add-icon.svg" alt="add icon" />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
